@mixin triangle($color: null, $size: 90px) {
    width: 0;
    height: 0;
    content: '';
    z-index: 1;
    border-style: solid;
    border-width: 25px $size 0;
    @if($color != null){
        border-color: $color transparent transparent;
    }
}

@mixin bar($color: $header-a-color, $width: 75px){
    width: $width;
    height: 3px;
    content: '';
    z-index: 1;
    display: block;
    background-color: $color;
    margin: 20px auto;
}

@mixin gutter(){
    padding-right: calc($gutter-width * .5);
    padding-left: calc($gutter-width * .5);
    margin-top: $gutter-width;
}

//Chevron animation direction
@keyframes moveDown {
    25% {
        opacity: 1;                
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes moveUp {
    25% {
        opacity: 1;                
    }
    33% {
        opacity: 1;
        transform: translateY(-30px);
    }
    67% {
        opacity: 1;
        transform: translateY(-40px);
    }
    100% {
        opacity: 0;
        transform: translateY(-55px) scale3d(0.5, 0.5, 0.5);
    }
}


@keyframes pulse {
    to {
        opacity: 1;
    }
}

@mixin chevron($direction: "down") {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    

    //chevron left and right back-slash and slash
    &:before, &:after{
        content: ' ';
        position: absolute;       
        height: 100%;
        width: 51%;
        background-color:#fff;
    }

    @if($direction == "down"){        
        //chevron moves down
        animation: moveDown 3s ease-out infinite; //animation speed
        top: 10px;

        &:first-child{
            animation: moveDown 3s ease-out 1s infinite;
        }
        &:nth-child(2) { 
            animation: moveDown 3s ease-out 2s infinite;   
        } 

        //chevron points down
        &:before{
            left: 0;
            transform: skew(0deg, 30deg);
        }
        &:after {
            right: 0;
            width: 50%;
            transform: skew(0deg, -30deg);
        }  
    }

    @else if($direction == "up"){     
        //chevron moves up
        animation: moveUp 3s ease-out infinite; //animation speed
        top: 65px;

        &:first-child{
            animation: moveUp 3s ease-out 1s infinite;
        }
        &:nth-child(2) { 
            animation: moveUp 3s ease-out 2s infinite;
        }
        
        //chevron points up
        &:before{
            left: 0;
            transform: skew(0deg, -30deg);
        }
        &:after {
            right: 0;
            width: 50%;
            transform: skew(0deg, 30deg);
        }     
    }
}