@use "sass:map";

//CSS Grid
.grid{
    display:grid;
    overflow-y:hidden;
}
    
.content{
    min-height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


//Flexbox
.row{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    @include gutter("xs");

    & > *{
        @include gutter("xs");
    }
}


//Define column widths ex. col-12, col-11, col-10 etc
@each $colCount, $percentage in $columnWidths {           
    .col-#{$colCount} {
        flex: 0 0 auto;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        width: $percentage;
    }
}

//Define column widths for all breakpoints ex. col-lg-12, col-lg-11, col-lg-10 etc
@each $breakpoint, $pixels in $breakpoints {
    @media(min-width: #{$pixels}){
        @each $colCount, $percentage in $columnWidths {           
            .col-#{$breakpoint}-#{$colCount} {
                flex: 0 0 auto;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: auto;
                width: $percentage;
            }
        }
    }
}

// Sidebar height on mobile
@media(max-width: map.get($breakpoints, "md")){
    @media(min-height:0){
        .grid{
            transition: 0.5s;
            grid-template-rows: 60px calc(100vh - 60px);
        }
        .grid.active{
            transition: 0.5s;
            grid-template-rows: 386px calc(100vh - 356px);
        }
    }
}

// Sidebar width on desktop
@media (min-width: map.get($breakpoints, "md")){
    .grid{
        grid-template-columns: 25vw 75vw;
        grid-template-rows:100vh;
    }

    .row{
        @include gutter("md");    
        & > *{
            @include gutter("md");
        }
    }
}

@media (min-width: map.get($breakpoints, "lg")){
    .grid{
        grid-template-columns: 250px calc(100vw - 250px);
    }
}