@use "sass:map";

.coding-examples{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $body-bg-color;
}
.coding-examples{
    padding: 0 2rem 3rem;

    & h3{
        color: $primary-color;
        margin: 3rem 0 0;
        font-size: 1.30rem;
        letter-spacing: 1px;
        width:100%;
    }
    & p{
        margin:1.25rem 0;
        color: $body-color;
        width:100%;
    }

    & img{
        margin: 1.25rem 0 0;
        border:5px solid #383e3a;
        width:80%;
        max-width: 800px;

        &.result{
            width:200px;
        }
    }
    & pre{
        min-width:100%;
    }

    & .btn {
        margin: 0 0 1.25rem;
    }

    & ul{
        width: 100%;
        margin: 1.25rem 0;
    }


}

@media (min-width: map.get($breakpoints, "lg")) {

}

@media (min-width: map.get($breakpoints, "xl")) {

}


