@use "sass:map";
$halfInnerHeight: var(--app-height) / 2; 

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, transparent 25%, rgba(0, 0, 0, 0.6509803922)), url(../images/home-bg.webp) center/cover no-repeat;
    background-position-y: 88%;
    flex-direction: column;
    flex-wrap: wrap;
}
.message{
    position:relative;
    margin-top: calc($halfInnerHeight - 35%);
    text-align: center;
    max-width: 550px;
    background-color: #ffffff70;
    padding: 10px 0 0;
    border-radius: 7px;
    

    & h1{
        color: $white;
        text-shadow: 0 0 black;
        margin:0;
        font-size: 1.35rem;
        font-weight:normal
    }

    &::after{
        @include triangle(#ffffff70, 20px);
        position:relative;
        bottom: -43px;
    }
}

.scroll-btn {    
    display:flex;
    justify-content: center;
    position: relative;
    padding: 0 10px 10px;    
    height: 100px;    

    & .label{
        display: block;
        margin-top: 75px;
        font-family: 'EB Garamond', serif;
        font-size: 0.8rem;
        color: #fff;
        text-transform: uppercase;
        white-space: nowrap;
        opacity: .25;
        animation: pulse 2s linear alternate infinite;
    }
}

.chevron-down {
    @include chevron("down");
}

.chevron-up {
    @include chevron("up");
}
    

.portfolio{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $body-bg-color;
    padding-bottom:20px;
}

.heading{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $body-heading-color;
    margin-top: 30px;
    &::after{
        @include bar($primary-color, 5%);
        margin:0 auto;
    }
    h2{
        margin-bottom: 0;
    }
}

.card{
    background-color: $white;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    height: 100%;

    & img{
        width:100%;
    }
    & h2{
        margin: 1.25rem;
        color: $primary-color;
    }

    & p, & .btn{
        margin: 1.25rem;
    }

    & > p {
        min-height:73px;
    }
}

.btn-read-more{
    display: inline-flex;
    align-items: center;
    & i{
        margin-left:10px;
    }
}

.contact{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $body-bg-color;
}

.card-contact{
    margin-bottom:100px;
    & h3{
        color: $primary-color;
        margin: 1.25rem;
        font-size: 1.30rem;
        letter-spacing: 1px;
    }
    & p{
        color: $body-color;
    }
    & .contact-number{
        font-size: 1rem;
        font-weight: 600;
        overflow-wrap: break-word;
        & a{
            color:$primary-color;
            &:hover{
                text-decoration: underline;
            }            
        }
    }

    & .success{
        color: #38cc64;
        font-weight:bold;
    }
    
    & .danger{
        color: $red;
        font-weight:bold;
    }

    & .warning{
        color: $primary-color;
        font-weight:bold;
    }
}

.contact-form{
    margin: 1.25rem;
    & .btn{
        margin-left:0;
        border: none;
    }
}

.input-fields {
    display:flex;
    flex-direction: column;  
}

.message-field{
    height: 150px;
}

.footer{
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height: 160px;
    background: linear-gradient(360deg, transparent 25%, $body-bg-color), url(../images/home-bg.webp) center/cover no-repeat;
    background-position-y: 100%;
}

@media (min-width: map.get($breakpoints, "xs")) {
    .message{
        margin-top: calc($halfInnerHeight - 18%);
        padding: 10px 10px 0;
    }
}



@media (min-width: map.get($breakpoints, "sm")) {
    .message{
        margin-top: calc($halfInnerHeight - 19%);
        padding: 15px 15px 0;

        & h1{
            font-size:2rem;
        }
    }
}

@media (min-width: map.get($breakpoints, "md")) {
    .home{        
        background: linear-gradient(315deg, transparent 25%, #000000a6), url(../images/home-bg.webp) center/cover no-repeat;
        background-position-y: 88%;
    } 
    .message{
        margin-top: calc($halfInnerHeight - 13%);
        padding: 20px 20px 0;
    }
}


@media (min-width: map.get($breakpoints, "lg")) {
    .input-fields{
        flex-direction: row;
        & .form-group + .form-group{
            margin-left: 15px;
        }

        & .form-group{
            width:50%;
        }
    }
    .message{
        margin-top: calc($halfInnerHeight - 16%);
    }
}

@media (min-width: map.get($breakpoints, "xl")) {
    .home{        
        background: linear-gradient(315deg, transparent 25%, #000000a6), url(../images/home-bg.webp) center/cover no-repeat;
        background-position-y: 78%;
    } 

    .contact-form{
        margin: 1.25rem 4rem 0 1.25rem;
    }
    .message{
        margin-top: calc($halfInnerHeight - 17%);
    }
}

