@use "sass:map";

.sidebar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;    
    background-color: $black;
}

.site-logo{
    margin-left:10px;
}


.nav{
    display: block;
    list-style: none;
    text-align: center;
    background-color: #000;
    margin: 0;    
    padding: 15px 10px;
    width: 100%;
    &::before, &::after{
        @include bar($header-a-color, 100%);
        margin:0;
    }
}

.nav__item:first-child{    
    border-top: 1px solid #2d1f0b;
}
.nav__item a{
    padding:20px 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: $header-a-color;
    font-weight: 600;
    font-family: 'EB Garamond', 'serif';
    border-bottom: 1px solid #2d1f0b;
    &:hover{
        text-decoration:underline;
    }
}


.hamburger.active{
    height:auto;

    &::before{
        top:0;    
        transform: rotate(315deg);
    }
    &::after{
        top:0;
        transform: rotate(225deg);
    }
}

.social{
    display:none;    
    & .btn {
        padding: 5px;
        margin: 0 5px;
        border-radius: 2px;
        background-color: $header-a-color;
        & i{
            text-decoration: none;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $social-color;
        }
    }
}



@media (min-width: map.get($breakpoints, "md")) {
    .sidebar{
        justify-content:flex-start;
        flex-direction:column;
        border-right: 5px solid $primary-color;
    }
    .btn-toggle{
        display:none;
    }
    .nav{
        width:80%;
        &::before, &::after{        
            margin: 20px auto;
            @include bar($header-a-color, 50%);
        }
    }
    .site-logo{
        width: 80px;
        height: 80px;
        margin-top: 70px;
        margin-left:0;
    }
    .social{
        display:flex;
    }
}

//Landscape view
@media (orientation:landscape){
    @media( min-width: map.get($breakpoints, "md")){
        .site-logo{
            margin-top: 0;
        }
        .nav::before, .nav::after{
            margin: 0 auto;
        }
        .nav__item a{
            padding: 5px 0;
        }
        .social{
            display:none;
        }
        
        @media (min-height: map.get($breakpoints, "xs")) {
            .site-logo{
                margin-top: 20px;
            }
    
            .nav::before, .nav::after{
                margin: 0 auto;
            }
            .nav__item a{
                padding: 5px 0;
            }    
        }
    
        //special breakpoint the goes between xs and sm
        @media (min-height: 340px) {
            .site-logo{
                margin-top: 30px;
            }
    
            .nav::before, .nav::after{
                margin: 5px auto;
            }
            .nav__item a{
                padding: 5px 0;
            } 
    
            @media (min-width: map.get($breakpoints,"md")){
                .social {
                    display:flex;
                }
                .site-logo{
                   // margin-top: 0px;
                }
            }
    
        }
    
        @media (min-height: map.get($breakpoints, "sm")) {
            .site-logo{
                margin-top: 40px;
            }
            .nav::before, .nav::after{
                margin: 10px auto;
            }
            .nav__item a{
                padding: 10px 0;
            }
        }
    
        @media (min-height: map.get($breakpoints, "md")) {
            .site-logo{
                margin-top: 70px;
            }
            .nav::before, .nav::after{
                margin: 20px auto;
            }
            .nav__item a{
                padding: 20px 0;
            }
        }

    }
}

