@use "sass:map";

.scs-scheme{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $body-bg-color;
}
.scs-scheme{

    & .card{
        padding: 1.5rem;

        & .row{
            padding-left: 0;
        }

        & .col{
            margin-top: 0;
            padding-left: 0;
        }
        & img{
            margin-top: 0;
        }
    }

    & h3{
        color: $primary-color;
        margin: 0;
        font-size: 1.30rem;
        letter-spacing: 1px;
        width:100%;
    }
    & p{
        margin:1.25rem 0;
        color: $body-color;
    }

    & img{
        margin: 0;
        border:5px solid #383e3a;
        width:80%;
        max-width: 800px;
    }
    & pre{
        min-width:100%;
    }

    & .btn {
        margin: 0 0 1.25rem;
    }

    & ul{
        width: 100%;
        margin: 1.25rem 0;
    }
}

@media (min-width: map.get($breakpoints, "md")) {
    .scs-scheme .card{
        padding: 2.5rem;
    }
}
@media (min-width: map.get($breakpoints, "xl")) {
    .scs-scheme .card{
        padding: 3rem;
    }

}


